.App {
  background: linear-gradient(to right, #0062E6, #33AEFF);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card-data {
  background-color: azure;
  border: 2px solid aliceblue;
  border-radius: 10px;
  margin: 10px;
  padding: 25px;
}

.card-data:hover {
  margin-top: 1px;
  cursor: pointer;
}

.button-get {
  align-items: center;
}

.btn {
  font-size: 80%;
  border-radius: 8rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: .6rem;
  margin: 10px;
  opacity: 0.7;
  transition: all 0.2s;
  width: 220px;
  background-color: #0062E6;

}

.card-data:hover .btn {
  opacity: 1;
}

.card-head {
  text-align: center;
}

.show {
  opacity: 0.5;
}

.month {
  font-size: 10px;
}

.symbol {
  font-size: 30px;
}